@import url('datatables.net-bs5');
@import url('datatables.net-buttons-bs5');
@import url('datatables.net-responsive-bs5');


:root {
    --default-font: ;

    --font-2xxl: 2rem;
    --font-2xl: 1.75rem;
    --font-xxl: 1.5rem;
    --font-xl: 1.25rem;
    --font-lg: 1.125rem;
    --font-md: 1rem;
    --font-sm: 0.875rem;
    --font-xs: 0.75rem;
    --font-xxs: 0.625rem;

    --primary-50: #E4F1FF;
    --primary-100: #BFDCFF;
    --primary-200: #95C7FF;
    --primary-300: #6BB1FF;
    --primary-400: #519FFF;
    --primary-500: #458EFF;
    --primary-600: #487FFF;
    --primary-700: #486CEA;
    --primary-800: #4759D6;
    --primary-900: #4536B6;

    --neutral-50: #F5F6FA;
    --neutral-100: #F3F4F6;
    --neutral-200: #EBECEF;
    --neutral-300: #D1D5DB;
    --neutral-400: #9CA3AF;
    --neutral-500: #6B7280;
    --neutral-600: #4B5563;
    --neutral-700: #374151;
    --neutral-800: #1F2937;
    --neutral-900: #111827;

    --danger-50: #FEF2F2;
    --danger-100: #FEE2E2;
    --danger-200: #FECACA;
    --danger-300: #FCA5A5;
    --danger-400: #F87171;
    --danger-500: #EF4444;
    --danger-600: #DC2626;
    --danger-700: #B91C1C;
    --danger-800: #991B1B;
    --danger-900: #7F1D1D;
    --success-50: #F0FDF4;
    --success-100: #DCFCE7;
    --success-200: #BBF7D0;
    --success-300: #86EFAC;
    --success-400: #4ADE80;
    --success-500: #22C55E;
    --success-600: #16A34A;
    --success-700: #15803D;
    --success-800: #166534;
    --success-900: #14532D;

    --warning-50: #FEFCE8;
    --warning-100: #FEF9C3;
    --warning-200: #FEF08A;
    --warning-300: #FDE047;
    --warning-400: #FACC15;
    --warning-500: #EAB308;
    --warning-600: #FF9F29;
    --warning-700: #f39016;
    --warning-800: #e58209;
    --warning-900: #d77907;

    --info-50: #EFF6FF;
    --info-100: #DBEAFE;
    --info-200: #BFDBFE;
    --info-300: #93C5FD;
    --info-400: #60A5FA;
    --info-500: #3B82F6;
    --info-600: #2563EB;
    --info-700: #1D4ED8;
    --info-800: #1E40AF;
    --info-900: #1E3A8A;
    --cyan-50: #e2f5fb;
    --cyan-100: #DAF6FF;
    --cyan-200: #85daf4;
    --cyan-300: #6cdafc;
    --cyan-400: #48cef7;
    --cyan-500: #2bc9f9;
    --cyan-600: #00b8f2;
    --cyan-700: #03a9dc;
    --cyan-800: #049dcb;
    --cyan-900: #0390bb;
    --dark-1: #1B2431;
    --dark-2: #273142;
    --dark-3: #323D4E;
    --lilac-50: #f0e1ff;
    --lilac-100: #EBD7FF;
    --lilac-200: #dcc0f8;
    --lilac-300: #cd9ffa;
    --lilac-400: #c48afe;
    --lilac-500: #b66dff;
    --lilac-600: #8252E9;
    --lilac-700: #6f37e6;
    --lilac-800: #601eef;
    --light-50: #F5F6FA;
    --light-100: #F3F4F6;
    --light-600: #E4F1FF;
    --light-700: #374151;
    --light-800: #1F2937;

    --success-main: #45B369;
    --success-surface: #DAF0E1;
    --success-border: #B5E1C3;
    --success-hover: #009F5E;
    --success-pressed: #006038;
    --success-focus: rgba(69, 179, 105, 0.1490196078);
    --info-main: #144BD6;
    --info-surface: #E7EEFC;
    --info-border: #AECAFC;
    --info-hover: #0A51CE;
    --info-pressed: #06307C;
    --info-focus: rgba(20, 75, 214, 0.1490196078);
    --warning-main: #FF9F29;
    --warning-surface: #FFF9E2;
    --warning-border: #FFEBA6;
    --warning-hover: #D69705;
    --warning-pressed: #C28800;
    --warning-focus: rgba(255, 192, 45, 0.1490196078);
    --danger-main: #EF4A00;
    --danger-surface: #FCDAE2;
    --danger-border: #F9B5C6;
    --danger-hover: #D53128;
    --danger-pressed: #801D18;
    --danger-focus: rgba(239, 71, 112, 0.1490196078);

    --cyan: #00B8F2;
    --indigo: #7F27FF;
    --purple: #8252E9;
    --purple-100: #EBD7FF;
    --purple-200: #D7B5FF;
    --purple-300: #C493FF;
    --purple-400: #B171FF;
    --purple-500: #8252E9;
    --purple-600: #633EBB;
    --purple-700: #442A8C;
    --purple-800: #25165E;
    --purple-900: #060231;
    --red: #E30A0A;
    --yellow: #F4941E;
    --orange: #F86624;
    --pink: #DE3ACE;
    --primary-light: rgba(72, 127, 255, 0.15);
    --yellow-light: rgba(255, 159, 41, 0.15);
    --purple-light: rgba(130, 82, 233, 0.15);
    --pink-light: rgba(250, 54, 230, 0.15);
    --primary-light-white: rgba(72, 127, 255, 0.25);
    --yellow-light-white: rgba(255, 159, 41, 0.25);
    --purple-light-white: rgba(132, 90, 223, 0.25);
    --pink-light-white: rgba(250, 54, 230, 0.25);

    --base: #fff;
    --brand: var(--primary-600);
    --button-secondary: var(--primary-50);
    --black: var(--dark-2);
    --white: var(--base);
    --bg-color: var(--neutral-50);
    --text-primary-light: var(--neutral-900);
    --text-secondary-light: var(--neutral-600);
    --text-secondary-dark: var(--neutral-300);
    --input-form-light: var(--neutral-300);
    --input-form-dark: var(--neutral-500);
    --input-bg: var(--neutral-50);
    --input-stroke: var(--neutral-300);
    --border-color: #d1d5db80;
}

[data-bs-theme=dark] {
    --button-secondary: var(--neutral-300);
    --black: var(--base);
    --white: var(--dark-2);
    --bg-color: var(--dark-1);
    --text-primary-light: var(--base);
    --text-secondary-light: #D1D5DB;
    --text-secondary-dark: var(--dark-2);
    --input-form-light: #6B7280;
    --input-form-dark: #D1D5DB;
    --input-bg: var(--dark-3);
    --input-stroke: #F3F4F6;
    --primary-50: #e4f1ff0f;
    --info-50: #EFF6FF0f;
    --warning-50: #FEFCE80f;
    --success-50: #F0FDF40f;
    --danger-50: #FEF2F20f;
    --lilac-100: #EBD7FF0f;
    --success-100: #DCFCE70f;
    --danger-100: rgba(239, 71, 112, 0.1490196078);
    --border-color: #d1d5db33;
    --neutral-50: #1B2431;
    --neutral-100: #273142;
    --neutral-200: #323D4E;
    --neutral-300: #4B5563;
    --neutral-400: #6B7280;
    --neutral-500: #9CA3AF;
    --neutral-600: #D1D5DB;
    --neutral-700: #EBECEF;
    --neutral-800: #F3F4F6;
    --neutral-900: #F5F6FA;
    /* --lilac-800: #f0e1ff;
    --lilac-700: #EBD7FF;
    --lilac-600: #dcc0f8;
    --lilac-500: #cd9ffa;
    --lilac-400: #c48afe;
    --lilac-300: #b66dff;
    --lilac-600: #8252E9;
    --lilac-200: #6f37e6;
    --lilac-100: #601eef; */
    --spacer-1: 0.3125rem;
    --spacer-2: 0.625rem;
    --spacer: 1.25rem;
    --spacer-4: 1.875rem;
    --spacer-5: 3.75rem;
}

.text-neutral {
    color: var(--neutral-900);
}



:root {
    --dt-row-selected: 13, 110, 253;
    --dt-row-selected-text: 255, 255, 255;
    --dt-row-selected-link: 9, 10, 11;
    --dt-row-stripe: 0, 0, 0;
    --dt-row-hover: 0, 0, 0;
    --dt-column-ordering: 0, 0, 0;
    --dt-html-background: white
}

:root.dark {
    --dt-html-background: rgb(33, 37, 41)
}

table.dataTable td.dt-control {
    text-align: center;
    cursor: pointer
}

table.dataTable td.dt-control:before {
    display: inline-block;
    box-sizing: border-box;
    content: "";
    border-top: 5px solid transparent;
    border-left: 10px solid rgba(0, 0, 0, 0.5);
    border-bottom: 5px solid transparent;
    border-right: 0px solid transparent
}

table.dataTable tr.dt-hasChild td.dt-control:before {
    border-top: 10px solid rgba(0, 0, 0, 0.5);
    border-left: 5px solid transparent;
    border-bottom: 0px solid transparent;
    border-right: 5px solid transparent
}

html.dark table.dataTable td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable td.dt-control:before {
    border-left-color: rgba(255, 255, 255, 0.5)
}

html.dark table.dataTable tr.dt-hasChild td.dt-control:before,
:root[data-bs-theme=dark] table.dataTable tr.dt-hasChild td.dt-control:before {
    border-top-color: rgba(255, 255, 255, 0.5);
    border-left-color: transparent
}

div.dt-scroll-body thead tr,
div.dt-scroll-body tfoot tr {
    height: 0
}

div.dt-scroll-body thead tr th,
div.dt-scroll-body thead tr td,
div.dt-scroll-body tfoot tr th,
div.dt-scroll-body tfoot tr td {
    height: 0 !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
    border-top-width: 0px !important;
    border-bottom-width: 0px !important
}

div.dt-scroll-body thead tr th div.dt-scroll-sizing,
div.dt-scroll-body thead tr td div.dt-scroll-sizing,
div.dt-scroll-body tfoot tr th div.dt-scroll-sizing,
div.dt-scroll-body tfoot tr td div.dt-scroll-sizing {
    height: 0 !important;
    overflow: hidden !important
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
    outline: none
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before {
    position: absolute;
    display: block;
    bottom: 50%;
    content: "▲";
    content: "▲" /""
}

table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
    position: absolute;
    display: block;
    top: 50%;
    content: "▼";
    content: "▼" /""
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc,
table.dataTable thead>tr>th.dt-ordering-asc,
table.dataTable thead>tr>th.dt-ordering-desc,
table.dataTable thead>tr>td.dt-orderable-asc,
table.dataTable thead>tr>td.dt-orderable-desc,
table.dataTable thead>tr>td.dt-ordering-asc,
table.dataTable thead>tr>td.dt-ordering-desc {
    position: relative;
    padding-right: 30px
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order {
    position: absolute;
    right: 12px;
    top: 0;
    bottom: 0;
    width: 12px
}

table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-orderable-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
    left: 0;
    opacity: .125;
    line-height: 9px;
    font-size: .8em
}

table.dataTable thead>tr>th.dt-orderable-asc,
table.dataTable thead>tr>th.dt-orderable-desc,
table.dataTable thead>tr>td.dt-orderable-asc,
table.dataTable thead>tr>td.dt-orderable-desc {
    cursor: pointer
}

table.dataTable thead>tr>th.dt-orderable-asc:hover,
table.dataTable thead>tr>th.dt-orderable-desc:hover,
table.dataTable thead>tr>td.dt-orderable-asc:hover,
table.dataTable thead>tr>td.dt-orderable-desc:hover {
    outline: 2px solid rgba(0, 0, 0, 0.05);
    outline-offset: -2px
}

table.dataTable thead>tr>th.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>th.dt-ordering-desc span.dt-column-order:after,
table.dataTable thead>tr>td.dt-ordering-asc span.dt-column-order:before,
table.dataTable thead>tr>td.dt-ordering-desc span.dt-column-order:after {
    opacity: .6
}

table.dataTable thead>tr>th.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>th.sorting_asc_disabled span.dt-column-order:before,
table.dataTable thead>tr>td.sorting_desc_disabled span.dt-column-order:after,
table.dataTable thead>tr>td.sorting_asc_disabled span.dt-column-order:before {
    display: none
}

table.dataTable thead>tr>th:active,
table.dataTable thead>tr>td:active {
    outline: none
}

div.dt-scroll-body>table.dataTable>thead>tr>th,
div.dt-scroll-body>table.dataTable>thead>tr>td {
    overflow: hidden
}

:root.dark table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root.dark table.dataTable thead>tr>td.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>th.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>th.dt-orderable-desc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>td.dt-orderable-asc:hover,
:root[data-bs-theme=dark] table.dataTable thead>tr>td.dt-orderable-desc:hover {
    outline: 2px solid rgba(255, 255, 255, 0.05)
}

div.dt-processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    margin-top: -22px;
    text-align: center;
    padding: 2px;
    z-index: 10
}

div.dt-processing>div:last-child {
    position: relative;
    width: 80px;
    height: 15px;
    margin: 1em auto
}

div.dt-processing>div:last-child>div {
    position: absolute;
    top: 0;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    background: rgb(13, 110, 253);
    background: rgb(var(--dt-row-selected));
    animation-timing-function: cubic-bezier(0, 1, 1, 0)
}

div.dt-processing>div:last-child>div:nth-child(1) {
    left: 8px;
    animation: datatables-loader-1 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(2) {
    left: 8px;
    animation: datatables-loader-2 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(3) {
    left: 32px;
    animation: datatables-loader-2 .6s infinite
}

div.dt-processing>div:last-child>div:nth-child(4) {
    left: 56px;
    animation: datatables-loader-3 .6s infinite
}

@keyframes datatables-loader-1 {
    0% {
        transform: scale(0)
    }

    100% {
        transform: scale(1)
    }
}

@keyframes datatables-loader-3 {
    0% {
        transform: scale(1)
    }

    100% {
        transform: scale(0)
    }
}

@keyframes datatables-loader-2 {
    0% {
        transform: translate(0, 0)
    }

    100% {
        transform: translate(24px, 0)
    }
}

table.dataTable.nowrap th,
table.dataTable.nowrap td {
    white-space: nowrap
}

table.dataTable th,
table.dataTable td {
    box-sizing: border-box
}

table.dataTable th.dt-left,
table.dataTable td.dt-left {
    text-align: left
}

table.dataTable th.dt-center,
table.dataTable td.dt-center {
    text-align: center
}

table.dataTable th.dt-right,
table.dataTable td.dt-right {
    text-align: right
}

table.dataTable th.dt-justify,
table.dataTable td.dt-justify {
    text-align: justify
}

table.dataTable th.dt-nowrap,
table.dataTable td.dt-nowrap {
    white-space: nowrap
}

table.dataTable th.dt-empty,
table.dataTable td.dt-empty {
    text-align: center;
    vertical-align: top
}

table.dataTable th.dt-type-numeric,
table.dataTable th.dt-type-date,
table.dataTable td.dt-type-numeric,
table.dataTable td.dt-type-date {
    text-align: right
}

table.dataTable thead th,
table.dataTable thead td,
table.dataTable tfoot th,
table.dataTable tfoot td {
    text-align: left
}

table.dataTable thead th.dt-head-left,
table.dataTable thead td.dt-head-left,
table.dataTable tfoot th.dt-head-left,
table.dataTable tfoot td.dt-head-left {
    text-align: left
}

table.dataTable thead th.dt-head-center,
table.dataTable thead td.dt-head-center,
table.dataTable tfoot th.dt-head-center,
table.dataTable tfoot td.dt-head-center {
    text-align: center
}

table.dataTable thead th.dt-head-right,
table.dataTable thead td.dt-head-right,
table.dataTable tfoot th.dt-head-right,
table.dataTable tfoot td.dt-head-right {
    text-align: right
}

table.dataTable thead th.dt-head-justify,
table.dataTable thead td.dt-head-justify,
table.dataTable tfoot th.dt-head-justify,
table.dataTable tfoot td.dt-head-justify {
    text-align: justify
}

table.dataTable thead th.dt-head-nowrap,
table.dataTable thead td.dt-head-nowrap,
table.dataTable tfoot th.dt-head-nowrap,
table.dataTable tfoot td.dt-head-nowrap {
    white-space: nowrap
}

table.dataTable tbody th.dt-body-left,
table.dataTable tbody td.dt-body-left {
    text-align: left
}

table.dataTable tbody th.dt-body-center,
table.dataTable tbody td.dt-body-center {
    text-align: center
}

table.dataTable tbody th.dt-body-right,
table.dataTable tbody td.dt-body-right {
    text-align: right
}

table.dataTable tbody th.dt-body-justify,
table.dataTable tbody td.dt-body-justify {
    text-align: justify
}

table.dataTable tbody th.dt-body-nowrap,
table.dataTable tbody td.dt-body-nowrap {
    white-space: nowrap
}

table.dataTable {
    width: 100%;
    margin: 0 auto;
    border-spacing: 0
}

table.dataTable thead th,
table.dataTable tfoot th {
    font-weight: bold
}

table.dataTable>thead>tr>th,
table.dataTable>thead>tr>td {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

table.dataTable>thead>tr>th:active,
table.dataTable>thead>tr>td:active {
    outline: none
}

table.dataTable>tfoot>tr>th,
table.dataTable>tfoot>tr>td {
    border-top: 1px solid rgba(0, 0, 0, 0.3);
    padding: 10px 10px 6px 10px
}

table.dataTable>tbody>tr {
    background-color: transparent
}

table.dataTable>tbody>tr:first-child>* {
    border-top: none
}

table.dataTable>tbody>tr:last-child>* {
    border-bottom: none
}

table.dataTable>tbody>tr.selected>* {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.9);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.9);
    color: rgb(255, 255, 255);
    color: rgb(var(--dt-row-selected-text))
}

table.dataTable>tbody>tr.selected a {
    color: rgb(9, 10, 11);
    color: rgb(var(--dt-row-selected-link))
}

table.dataTable>tbody>tr>th,
table.dataTable>tbody>tr>td {
    padding: 8px 10px
}

table.dataTable.row-border>tbody>tr>*,
table.dataTable.display>tbody>tr>* {
    border-top: 1px solid rgba(0, 0, 0, 0.15)
}

table.dataTable.row-border>tbody>tr:first-child>*,
table.dataTable.display>tbody>tr:first-child>* {
    border-top: none
}

table.dataTable.row-border>tbody>tr.selected+tr.selected>td,
table.dataTable.display>tbody>tr.selected+tr.selected>td {
    border-top-color: rgba(13, 110, 253, 0.65);
    border-top-color: rgba(var(--dt-row-selected), 0.65)
}

table.dataTable.cell-border>tbody>tr>* {
    border-top: 1px solid rgba(0, 0, 0, 0.15);
    border-right: 1px solid rgba(0, 0, 0, 0.15)
}

table.dataTable.cell-border>tbody>tr>*:first-child {
    border-left: 1px solid rgba(0, 0, 0, 0.15)
}

table.dataTable.cell-border>tbody>tr:first-child>* {
    border-top: 1px solid rgba(0, 0, 0, 0.3)
}

table.dataTable.stripe>tbody>tr:nth-child(odd)>*,
table.dataTable.display>tbody>tr:nth-child(odd)>* {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.023);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-stripe), 0.023)
}

table.dataTable.stripe>tbody>tr:nth-child(odd).selected>*,
table.dataTable.display>tbody>tr:nth-child(odd).selected>* {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.923);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.923)
}

table.dataTable.hover>tbody>tr:hover>*,
table.dataTable.display>tbody>tr:hover>* {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.035);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.035)
}

table.dataTable.hover>tbody>tr.selected:hover>*,
table.dataTable.display>tbody>tr.selected:hover>* {
    box-shadow: inset 0 0 0 9999px #0d6efd !important;
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 1) !important
}

table.dataTable.order-column>tbody tr>.sorting_1,
table.dataTable.order-column>tbody tr>.sorting_2,
table.dataTable.order-column>tbody tr>.sorting_3,
table.dataTable.display>tbody tr>.sorting_1,
table.dataTable.display>tbody tr>.sorting_2,
table.dataTable.display>tbody tr>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.019)
}

table.dataTable.order-column>tbody tr.selected>.sorting_1,
table.dataTable.order-column>tbody tr.selected>.sorting_2,
table.dataTable.order-column>tbody tr.selected>.sorting_3,
table.dataTable.display>tbody tr.selected>.sorting_1,
table.dataTable.display>tbody tr.selected>.sorting_2,
table.dataTable.display>tbody tr.selected>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.919)
}

table.dataTable.display>tbody>tr:nth-child(odd)>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd)>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.054);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.054)
}

table.dataTable.display>tbody>tr:nth-child(odd)>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd)>.sorting_2 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.047);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.047)
}

table.dataTable.display>tbody>tr:nth-child(odd)>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd)>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.039);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.039)
}

table.dataTable.display>tbody>tr:nth-child(odd).selected>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd).selected>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.954);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.954)
}

table.dataTable.display>tbody>tr:nth-child(odd).selected>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd).selected>.sorting_2 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.947);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.947)
}

table.dataTable.display>tbody>tr:nth-child(odd).selected>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr:nth-child(odd).selected>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.939);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.939)
}

table.dataTable.display>tbody>tr.even>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.019);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.019)
}

table.dataTable.display>tbody>tr.even>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_2 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.011);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.011)
}

table.dataTable.display>tbody>tr.even>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr.even>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.003);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-column-ordering), 0.003)
}

table.dataTable.display>tbody>tr.even.selected>.sorting_1,
table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.919);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.919)
}

table.dataTable.display>tbody>tr.even.selected>.sorting_2,
table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_2 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.911);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.911)
}

table.dataTable.display>tbody>tr.even.selected>.sorting_3,
table.dataTable.order-column.stripe>tbody>tr.even.selected>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.903);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.903)
}

table.dataTable.display tbody tr:hover>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.082);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.082)
}

table.dataTable.display tbody tr:hover>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover>.sorting_2 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.074);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.074)
}

table.dataTable.display tbody tr:hover>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(0, 0, 0, 0.062);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-hover), 0.062)
}

table.dataTable.display tbody tr:hover.selected>.sorting_1,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_1 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.982);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.982)
}

table.dataTable.display tbody tr:hover.selected>.sorting_2,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_2 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.974);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.974)
}

table.dataTable.display tbody tr:hover.selected>.sorting_3,
table.dataTable.order-column.hover tbody tr:hover.selected>.sorting_3 {
    box-shadow: inset 0 0 0 9999px rgba(13, 110, 253, 0.962);
    box-shadow: inset 0 0 0 9999px rgba(var(--dt-row-selected), 0.962)
}

table.dataTable.compact thead th,
table.dataTable.compact thead td,
table.dataTable.compact tfoot th,
table.dataTable.compact tfoot td,
table.dataTable.compact tbody th,
table.dataTable.compact tbody td {
    padding: 4px
}

div.dt-container {
    position: relative;
    clear: both
}

div.dt-container div.dt-layout-row {
    display: table;
    clear: both;
    width: 100%
}

div.dt-container div.dt-layout-row.dt-layout-table {
    display: block
}

div.dt-container div.dt-layout-row.dt-layout-table div.dt-layout-cell {
    display: block
}

div.dt-container div.dt-layout-cell {
    display: table-cell;
    vertical-align: middle;
    padding: 5px 0
}

div.dt-container div.dt-layout-cell.dt-full {
    text-align: center
}

div.dt-container div.dt-layout-cell.dt-start {
    text-align: left
}

div.dt-container div.dt-layout-cell.dt-end {
    text-align: right
}

div.dt-container div.dt-layout-cell:empty {
    display: none
}

div.dt-container .dt-search input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit;
    margin-left: 3px
}

div.dt-container .dt-input {
    border: 1px solid #aaa;
    border-radius: 3px;
    padding: 5px;
    background-color: transparent;
    color: inherit
}

div.dt-container select.dt-input {
    padding: 4px
}

div.dt-container .dt-paging .dt-paging-button {
    box-sizing: border-box;
    display: inline-block;
    min-width: 1.5em;
    padding: .5em 1em;
    margin-left: 2px;
    text-align: center;
    text-decoration: none !important;
    cursor: pointer;
    color: inherit !important;
    border: 1px solid transparent;
    border-radius: 2px;
    background: transparent
}

div.dt-container .dt-paging .dt-paging-button.current,
div.dt-container .dt-paging .dt-paging-button.current:hover {
    color: inherit !important;
    border: 1px solid rgba(0, 0, 0, 0.3);
    background-color: rgba(0, 0, 0, 0.05);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(230, 230, 230, 0.05)), color-stop(100%, rgba(0, 0, 0, 0.05)));
    background: -webkit-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    background: -moz-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    background: -ms-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    background: -o-linear-gradient(top, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%);
    background: linear-gradient(to bottom, rgba(230, 230, 230, 0.05) 0%, rgba(0, 0, 0, 0.05) 100%)
}

div.dt-container .dt-paging .dt-paging-button.disabled,
div.dt-container .dt-paging .dt-paging-button.disabled:hover,
div.dt-container .dt-paging .dt-paging-button.disabled:active {
    cursor: default;
    color: rgba(0, 0, 0, 0.5) !important;
    border: 1px solid transparent;
    background: transparent;
    box-shadow: none
}

div.dt-container .dt-paging .dt-paging-button:hover {
    color: white !important;
    border: 1px solid #111;
    background-color: #111;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #585858), color-stop(100%, #111));
    background: -webkit-linear-gradient(top, #585858 0%, #111 100%);
    background: -moz-linear-gradient(top, #585858 0%, #111 100%);
    background: -ms-linear-gradient(top, #585858 0%, #111 100%);
    background: -o-linear-gradient(top, #585858 0%, #111 100%);
    background: linear-gradient(to bottom, #585858 0%, #111 100%)
}

div.dt-container .dt-paging .dt-paging-button:active {
    outline: none;
    background-color: #0c0c0c;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b2b2b), color-stop(100%, #0c0c0c));
    background: -webkit-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -moz-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -ms-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: -o-linear-gradient(top, #2b2b2b 0%, #0c0c0c 100%);
    background: linear-gradient(to bottom, #2b2b2b 0%, #0c0c0c 100%);
    box-shadow: inset 0 0 3px #111
}

div.dt-container .dt-paging .ellipsis {
    padding: 0 1em
}

div.dt-container .dt-length,
div.dt-container .dt-search,
div.dt-container .dt-info,
div.dt-container .dt-processing,
div.dt-container .dt-paging {
    color: inherit
}

div.dt-container .dataTables_scroll {
    clear: both
}

div.dt-container .dataTables_scroll div.dt-scroll-body {
    -webkit-overflow-scrolling: touch
}

div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>th,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>td,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>th,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>td {
    vertical-align: middle
}

div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>th>div.dataTables_sizing,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>thead>tr>td>div.dataTables_sizing,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>th>div.dataTables_sizing,
div.dt-container .dataTables_scroll div.dt-scroll-body>table>tbody>tr>td>div.dataTables_sizing {
    height: 0;
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important
}

div.dt-container.dt-empty-footer tbody>tr:last-child>* {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

div.dt-container.dt-empty-footer .dt-scroll-body {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3)
}

div.dt-container.dt-empty-footer .dt-scroll-body tbody>tr:last-child>* {
    border-bottom: none
}

@media screen and (max-width: 767px) {
    div.dt-container div.dt-layout-row {
        display: block
    }

    div.dt-container div.dt-layout-cell {
        display: block
    }

    div.dt-container div.dt-layout-cell.dt-full,
    div.dt-container div.dt-layout-cell.dt-start,
    div.dt-container div.dt-layout-cell.dt-end {
        text-align: center
    }
}

@media screen and (max-width: 640px) {

    .dt-container .dt-length,
    .dt-container .dt-search {
        float: none;
        text-align: center
    }

    .dt-container .dt-search {
        margin-top: .5em
    }
}

html.dark {
    --dt-row-hover: 255, 255, 255;
    --dt-row-stripe: 255, 255, 255;
    --dt-column-ordering: 255, 255, 255
}

html.dark table.dataTable>thead>tr>th,
html.dark table.dataTable>thead>tr>td {
    border-bottom: 1px solid rgb(89, 91, 94)
}

html.dark table.dataTable>thead>tr>th:active,
html.dark table.dataTable>thead>tr>td:active {
    outline: none
}

html.dark table.dataTable>tfoot>tr>th,
html.dark table.dataTable>tfoot>tr>td {
    border-top: 1px solid rgb(89, 91, 94)
}

html.dark table.dataTable.row-border>tbody>tr>*,
html.dark table.dataTable.display>tbody>tr>* {
    border-top: 1px solid rgb(64, 67, 70)
}

html.dark table.dataTable.row-border>tbody>tr:first-child>*,
html.dark table.dataTable.display>tbody>tr:first-child>* {
    border-top: none
}

html.dark table.dataTable.row-border>tbody>tr.selected+tr.selected>td,
html.dark table.dataTable.display>tbody>tr.selected+tr.selected>td {
    border-top-color: rgba(13, 110, 253, 0.65);
    border-top-color: rgba(var(--dt-row-selected), 0.65)
}

html.dark table.dataTable.cell-border>tbody>tr>th,
html.dark table.dataTable.cell-border>tbody>tr>td {
    border-top: 1px solid rgb(64, 67, 70);
    border-right: 1px solid rgb(64, 67, 70)
}

html.dark table.dataTable.cell-border>tbody>tr>th:first-child,
html.dark table.dataTable.cell-border>tbody>tr>td:first-child {
    border-left: 1px solid rgb(64, 67, 70)
}

html.dark .dt-container.dt-empty-footer table.dataTable {
    border-bottom: 1px solid rgb(89, 91, 94)
}

html.dark .dt-container .dt-search input,
html.dark .dt-container .dt-length select {
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: var(--dt-html-background)
}

html.dark .dt-container .dt-paging .dt-paging-button.current,
html.dark .dt-container .dt-paging .dt-paging-button.current:hover {
    border: 1px solid rgb(89, 91, 94);
    background: rgba(255, 255, 255, 0.15)
}

html.dark .dt-container .dt-paging .dt-paging-button.disabled,
html.dark .dt-container .dt-paging .dt-paging-button.disabled:hover,
html.dark .dt-container .dt-paging .dt-paging-button.disabled:active {
    color: #666 !important
}

html.dark .dt-container .dt-paging .dt-paging-button:hover {
    border: 1px solid rgb(53, 53, 53);
    background: rgb(53, 53, 53)
}

html.dark .dt-container .dt-paging .dt-paging-button:active {
    background: #3a3a3a
}

*[dir=rtl] table.dataTable thead th,
*[dir=rtl] table.dataTable thead td,
*[dir=rtl] table.dataTable tfoot th,
*[dir=rtl] table.dataTable tfoot td {
    text-align: right
}

*[dir=rtl] table.dataTable th.dt-type-numeric,
*[dir=rtl] table.dataTable th.dt-type-date,
*[dir=rtl] table.dataTable td.dt-type-numeric,
*[dir=rtl] table.dataTable td.dt-type-date {
    text-align: left
}

*[dir=rtl] div.dt-container div.dt-layout-cell.dt-start {
    text-align: right
}

*[dir=rtl] div.dt-container div.dt-layout-cell.dt-end {
    text-align: left
}

*[dir=rtl] div.dt-container div.dt-search input {
    margin: 0 3px 0 0
}