:root {
    --default-font: ;

    --font-2xxl: 2rem;
    --font-2xl: 1.75rem;
    --font-xxl: 1.5rem;
    --font-xl: 1.25rem;
    --font-lg: 1.125rem;
    --font-md: 1rem;
    --font-sm: 0.875rem;
    --font-xs: 0.75rem;
    --font-xxs: 0.625rem;

    --primary-50: #E4F1FF;
    --primary-100: #BFDCFF;
    --primary-200: #95C7FF;
    --primary-300: #6BB1FF;
    --primary-400: #519FFF;
    --primary-500: #458EFF;
    --primary-600: #487FFF;
    --primary-700: #486CEA;
    --primary-800: #4759D6;
    --primary-900: #4536B6;

    --neutral-50: #F5F6FA;
    --neutral-100: #F3F4F6;
    --neutral-200: #EBECEF;
    --neutral-300: #D1D5DB;
    --neutral-400: #9CA3AF;
    --neutral-500: #6B7280;
    --neutral-600: #4B5563;
    --neutral-700: #374151;
    --neutral-800: #1F2937;
    --neutral-900: #111827;

    --danger-50: #FEF2F2;
    --danger-100: #FEE2E2;
    --danger-200: #FECACA;
    --danger-300: #FCA5A5;
    --danger-400: #F87171;
    --danger-500: #EF4444;
    --danger-600: #DC2626;
    --danger-700: #B91C1C;
    --danger-800: #991B1B;
    --danger-900: #7F1D1D;
    --success-50: #F0FDF4;
    --success-100: #DCFCE7;
    --success-200: #BBF7D0;
    --success-300: #86EFAC;
    --success-400: #4ADE80;
    --success-500: #22C55E;
    --success-600: #16A34A;
    --success-700: #15803D;
    --success-800: #166534;
    --success-900: #14532D;

    --warning-50: #FEFCE8;
    --warning-100: #FEF9C3;
    --warning-200: #FEF08A;
    --warning-300: #FDE047;
    --warning-400: #FACC15;
    --warning-500: #EAB308;
    --warning-600: #FF9F29;
    --warning-700: #f39016;
    --warning-800: #e58209;
    --warning-900: #d77907;

    --info-50: #EFF6FF;
    --info-100: #DBEAFE;
    --info-200: #BFDBFE;
    --info-300: #93C5FD;
    --info-400: #60A5FA;
    --info-500: #3B82F6;
    --info-600: #2563EB;
    --info-700: #1D4ED8;
    --info-800: #1E40AF;
    --info-900: #1E3A8A;
    --cyan-50: #e2f5fb;
    --cyan-100: #DAF6FF;
    --cyan-200: #85daf4;
    --cyan-300: #6cdafc;
    --cyan-400: #48cef7;
    --cyan-500: #2bc9f9;
    --cyan-600: #00b8f2;
    --cyan-700: #03a9dc;
    --cyan-800: #049dcb;
    --cyan-900: #0390bb;
    --dark-1: #1B2431;
    --dark-2: #273142;
    --dark-3: #323D4E;
    --lilac-50: #f0e1ff;
    --lilac-100: #EBD7FF;
    --lilac-200: #dcc0f8;
    --lilac-300: #cd9ffa;
    --lilac-400: #c48afe;
    --lilac-500: #b66dff;
    --lilac-600: #8252E9;
    --lilac-700: #6f37e6;
    --lilac-800: #601eef;
    --light-50: #F5F6FA;
    --light-100: #F3F4F6;
    --light-600: #E4F1FF;
    --light-700: #374151;
    --light-800: #1F2937;
    
    --success-main: #45B369;
    --success-surface: #DAF0E1;
    --success-border: #B5E1C3;
    --success-hover: #009F5E;
    --success-pressed: #006038;
    --success-focus: rgba(69, 179, 105, 0.1490196078);
    --info-main: #144BD6;
    --info-surface: #E7EEFC;
    --info-border: #AECAFC;
    --info-hover: #0A51CE;
    --info-pressed: #06307C;
    --info-focus: rgba(20, 75, 214, 0.1490196078);
    --warning-main: #FF9F29;
    --warning-surface: #FFF9E2;
    --warning-border: #FFEBA6;
    --warning-hover: #D69705;
    --warning-pressed: #C28800;
    --warning-focus: rgba(255, 192, 45, 0.1490196078);
    --danger-main: #EF4A00;
    --danger-surface: #FCDAE2;
    --danger-border: #F9B5C6;
    --danger-hover: #D53128;
    --danger-pressed: #801D18;
    --danger-focus: rgba(239, 71, 112, 0.1490196078);

    --cyan: #00B8F2;
    --indigo: #7F27FF;
    --purple: #8252E9;
    --purple-100: #EBD7FF;
    --purple-200: #D7B5FF;
    --purple-300: #C493FF;
    --purple-400: #B171FF;
    --purple-500: #8252E9;
    --purple-600: #633EBB;
    --purple-700: #442A8C;
    --purple-800: #25165E;
    --purple-900: #060231;
    --red: #E30A0A;
    --yellow: #F4941E;
    --orange: #F86624;
    --pink: #DE3ACE;
    --primary-light: rgba(72, 127, 255, 0.15);
    --yellow-light: rgba(255, 159, 41, 0.15);
    --purple-light: rgba(130, 82, 233, 0.15);
    --pink-light: rgba(250, 54, 230, 0.15);
    --primary-light-white: rgba(72, 127, 255, 0.25);
    --yellow-light-white: rgba(255, 159, 41, 0.25);
    --purple-light-white: rgba(132, 90, 223, 0.25);
    --pink-light-white: rgba(250, 54, 230, 0.25);
    --base: #fff;
    --brand: var(--primary-600);
    --button-secondary: var(--primary-50);
    --black: var(--dark-2);
    --white: var(--base);
    --bg-color: var(--neutral-50);
    --text-primary-light: var(--neutral-900);
    --text-secondary-light: var(--neutral-600);
    --text-secondary-dark: var(--neutral-300);
    --input-form-light: var(--neutral-300);
    --input-form-dark: var(--neutral-500);
    --input-bg: var(--neutral-50);
    --input-stroke: var(--neutral-300);
    --border-color: #d1d5db80;
}