.cycleDot {
    font-size: 2.4rem;
    margin: 0 0.25rem;
}

.workTimeDot {
    color: var(--warning-500);
}

.shortBreakTimeDot {
    color: var(--success-500);
}

.longBreakTimeDot {
    color: var(--info-500);
}